body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 0.5rem;
}
header h1 {
     font-size: 1.5rem;
}

header p {
     font-size: 0.9rem;
}

nav {
    background-color: #34495e;
    padding: 1rem;
    text-align: right;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}
nav a:hover {
    color: #3498db;
}
.container-index {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.destaque {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.destaque-item {
    width: 30%;
    text-align: center;
}
.destaque-item img {
     max-width: 100%;
     height: auto;
     border-radius: 15px; 
     box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}